*build*/
*.a
qm_test
qm-runner

# vim swap files
.*.sw?

.idea

# CMake
*.cbp
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# simulation files
files-*/
elf-cache/
exitprocs
